{% extends 'base.html' %}

{% block content %}
<div>
        <div class="container">
            <div class="row home-page-block">
                <div class="col-xs-12">
                    <center><strong><h3 class="home-page-block-title">Join the community to start sharing</h3>
                    </strong>
                    </center>
                    <center>
                        <span>CommonsShare is an online collaboration environment for sharing data, workflows, and code.</span>
                    </center>
                    <center>
                        <a class="btn btn-primary btn-signup slideInBlock" href="/accounts/signup/">Sign up now</a>
                    </center>
                </div>
            </div>
        </div>
</div>
{% endblock %}
